{
  "all": false,
  "reporter": ["html", "text"],
  "exclude": ["node_modules"],
  "include": ["lib/module.js", "lib/plugin.compiled.js", "components/SocketStatus.vue"],
  "extension": [".js", ".vue"]
}
